[submodule "themes/sam"]
	path = themes/sam
	url = https://github.com/janbaudisch/zola-sam.git
[submodule "myblog/themes/sam"]
	path = myblog/themes/sam
	url = https://github.com/janbaudisch/zola-sam.git
